
<h4>add menu</h4>
<div class ="container">
  <font color=black>
<h1>Enter Restaurent Menu Details</h1>  
  </font>
<form #menuform="ngForm" (ngSubmit)="postDataToRestaurentMenu(menuform.value)"> 
<font color="black">
  <div class="form-group">
    <label>Item Name</label>
    <input  minlength="4" required type="text" #nameRef="ngModel" class="form-control" name="itemname" ngModel>
    {{nameRef.className}} 
  <div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">
      please enter a name
  </div>
    
  </div>
    <br>
     <br>
     <br>
    <label>Price</label>
    <input type="text" required class="form-control"  name="price" ngModel>
   <br>
   <br>
   <br>
    <label>Description</label>
     <input type="text" class="form-control" name="description" ngModel >
     <br>
     <br>
     <br>
     
    
    <br>
</font>
    <input type="submit" class="form-control">

  

</form>
</div> 
